.jumbotron{
    background-color: white !important;
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important;
}
img{
    margin-top: 15px !important;
    border: none !important;
}

.img-fluid {
  margin-top: 30px !important;
  margin-right: 100px !important;
}

.text-responsive{
    font-size: calc(100% + 1vw + 1vh);
    margin-left: 50px !important;
}

.display-4{
    font-family: 'Timmana', sans-serif;
}

.display-5{
    font-family: 'Shrikhand', cursive;
}

.col-4{
    padding-left: 0px !important;
   
}
